<div class="row justify-content-center pb-5">
  <div class=" col-6">
    <h1 class="py-2">Editando Perfil</h1>
    <%= simple_form_for @user, url: update_users_profile_path(@user) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :first_name, label: "Primeiro Nome:" %>
      </div>

      <div class="form-inputs">
        <%= f.input :last_name, label: "Último Nome:" %>
      </div>

      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#interestModal">Adicione interesses</button>
      <br><br>

      <div class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Novo Interesse</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= f.association :interests, as: :check_boxes , label: ""%>
            </div>
          </div>
        </div>
      </div>

      <div class="form-inputs">
        <%= f.input :photo, label: 'Foto' %>
        <%# <%= f.input :photo_cache, as: :hidden  %>
      </div>

      <div class="form-actions btn btn-success mb-2 p-0">
        <%= f.button :submit, 'Atualizar Perfil'%>
      </div>
    <% end %>
  </div>
</div>
