<div class="row justify-content-center pb-5">
  <div class=" col-8  mt-2">
    <%= render 'photo_image'%>
    <br><br>
    <h4><strong>Nome: </strong><%= "#{@user.first_name} #{@user.last_name}" %></h4>
    <br>
    <h4><strong>email: </strong><%= @user.email %></h4>
      <% if @user.interests.present? %>
        <h4><br><strong>Interesses:</strong><br>
        <%texto = ""%>
        <% @user.interests.each do |interest| %>
            <% if interest == @user.interests[-2] %>
              <% texto = " e " %>
            <% elsif interest == @user.interests.last %>
              <% texto = "." %>
            <% else %>
              <% texto = "," %>
            <% end %>
            <%= "#{interest.name}#{texto}" %>
        <% end %>
        </h4>
      <% else %>
        <h5>Cadastre interesses para melhorar o seu filtro.</h5>
      <% end %>
      <div class='mt-5'>
        <%= link_to "Editar Perfil", edit_users_profile_path(@user), class: "btn btn-primary" %>
      </div>
  </div>
</div>
