<div class="container my-3 ">

  <div class="d-flex flex-row align-items-center">
    <div class="m-4">
        <%= render 'photo_image'%>
    </div>
    <h1>Meu Perfil</h1>
  </div>
  <div id="profile-text">
    <h4>Nome: <%= "#{@user.first_name} #{@user.last_name}" %></h4>
    <br>
    <h4>email: <%= @user.email %></h4>
      <% if @user.interests.present? %>
        <h5><br>Interesses:<br>
        <%texto = ""%>
        <% @user.interests.each do |interest| %>
            <% if interest == @user.interests[-2] %>
              <% texto = " e " %>
            <% elsif interest == @user.interests.last %>
              <% texto = "." %>
            <% else %>
              <% texto = "," %>
            <% end %>
            <%= "#{interest.name}#{texto}" %>
        <% end %>
        </h5>
      <% else %>
        <h5>Cadastre interesses para melhorar o seu filtro.</h5>
      <% end %>
    <br>
  </div>
  <%= link_to "Editar Perfil", edit_users_profile_path(@user), class: "btn btn-primary" %>
</div>

