<div class="fixed-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="d-flex">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <%= link_to "/", class: "title-link text-decoration-none" do %>
        <h2><strong>Happy</strong>Vita</h2>
      <% end %>
    </div>

    <div id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
        <%# Imagem do Avatar na navbar           %>
        <% if current_user.photo? then %>
          <%= cl_image_tag current_user.photo, gravity: 'face', class: "avatar ", id: "navbarDropdown", data: { toggle: "dropdown" },'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag 'profile_image', gravity: 'face', class: "avatar ", id: "navbarDropdown", data: { toggle: "dropdown" },'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
            <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Início", "/", class: "nav-link" %>
              <%= link_to "Meu Perfil", users_profile_path, class: "dropdown-item" %>
              <%= link_to "Minha Agenda", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Publicar Evento", new_event_path, class: "dropdown-item" %>
              <%= link_to "Publicar Desafio", new_challenge_path, class: "dropdown-item" %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
