<h4 class="font-weight-bold mb-2">Desafios e eventos futuros</h4>

<!-- Para selecionar apenas as atividades com data e que sejam futuras (posterior a hoje): -->

<% myfuture_activities = [] %>
<% @activities.each do |activity| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>
  <% if activity.event_date && today < activity.event_date %>
      <% myfuture_activities << activity %>
  <% end %>
<% end %>

<% if myfuture_activities.empty? %>
  <div class="container text-center shadow mt-5 py-4 px-1 bg-white rounded">
    <h4 class="dark-gray mb-2"> Você não tem desafios ou eventos públicos a promover que tenha divulgado aqui no <strong>Happy</strong>Vita! Aproveite para publicar agora! <h4>
    <%= link_to "CRIAR EVENTO", new_event_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
    <%= link_to "CRIAR DESAFIO", new_challenge_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
  </div>
<% else %>
  <!-- Para ordenar as atividades com data: -->
  <% activities_ordered = myfuture_activities.sort_by(&:event_date) %>

  <!-- Para mostrar cada uma das atividades com data futura na ordem: -->
  <h5 class="text-italic mb-2">Eventos que publiquei com data de realização:</h5>
  <div class="cards-container my-4 mx-1">
    <% activities_ordered.each do |activity| %>
      <div class="card-activity bg-white mb-3">
      <%= link_to activity_path(activity) do%>
        <!-- Imagem -->
        <% if activity.photo? then %>
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path activity.photo, height: 400, crop: :fit %>')">
        <% else %>
          <div class="banner-img-vertical-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'smyle', height: 400, crop: :fit %>')">
        <% end %>
          </div>
        <!-- imagem fim -->
        <% end %>
        <div class="card-activity-infos shadow">
          <div class="card-event-date text-center mr-2 mt-1">
            <% if activity.event_date %>
              <h1><%= I18n.l(activity.event_date, format: "%d", locale: :'pt-BR') %></h1>
              <h4><%= I18n.l(activity.event_date, format: "%b", locale: :'pt-BR') %></h4>
            <% end %>
          </div>
          <div class="card-title-and-buttons">
            <% district = activity.address.district.nil? ? district = " " : activity.address.district %>
            <% city = activity.address.city.nil? ? city = " " : activity.address.city %>
            <% state = activity.address.state.nil? ? state = " " : activity.address.state %>

            <h4><%= link_to "+ INFO", activity_path(activity), class: "btn btn-info card-btn-position-img-bottom shadow font-weight-bold" %></h4>
            <h4 class="mt-1 ml-2 text-left"><%= link_to activity.title, activity_path(activity),class: "title-link text-decoration-none"%></h4>
            <p class="mt-1 ml-2 text-left"><%= "#{district} #{city} #{state} "%></p>
          </div>
        </div>
        <div class="card-footer-bg-light-gray w-2"><br></div>
      </div>
    <% end %>
  </div>

  <h5 class="text-italic mb-2">Desafios que publiquei sem data de realização:</h5>
  <div class="cards-container my-4 mx-1">
    <% @activities.each do |activity| %>
      <% if activity.event_date.nil? %>
        <div class="card-activity bg-white mb-3">
          <!-- Imagem -->
          <% if activity.photo? then %>
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path activity.photo, height: 400, crop: :fit %>')">
          <% else %>
            <div class="banner-img-vertical-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'smyle', height: 400, crop: :fit %>')">
          <% end %>
          </div>
          <!-- imagem fim -->

          <div class="card-activity-infos shadow">
            <div class="card-event-date text-center mr-2 mt-1">
              <!-- atividades sem data -->
            </div>
            <div class="card-title-and-buttons">
              <% district = activity.address.district.nil? ? district = " " : activity.address.district %>
              <% city = activity.address.city.nil? ? city = " " : activity.address.city %>
              <% state = activity.address.state.nil? ? state = " " : activity.address.state %>

              <h4><%= link_to "+ INFO", activity_path(activity), class: "btn btn-info card-btn-position-img-bottom shadow font-weight-bold" %></h4>
              <h4 class="mt-1 ml-2 text-left"><%= link_to activity.title, activity_path(activity),class: "title-link text-decoration-none"%></h4>
              <p class="mt-1 ml-2 text-left"><%= "#{district} #{city} #{state} "%></p>
            </div>
          </div>
          <div class="card-footer-bg-light-gray w-2"><br></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
