<% myfuture_bookings = [] %>
<% @bookings.each do |booking| %>
  <%# <% event_date = Activity.find(activity.id).event_date %> 
  <% today = Time.now %>
  
  <% if today > booking.activity.event_date then %>
      <% myfuture_bookings << booking %>
  <% end %>
<% end %>

<div class="shadow mt-5 p-2 bg-light rounded">
  <h2 class="text-center mb-2">Eventos que participei</h2>
  <%# <% raise   Sem sort %>
  <%# <% activities_ordered = myfuture_bookings.activity.sort_by(&:event_date) %> 

  <% myfuture_bookings.each do |booking| %>
  <!-- Imagem -->
    <div class="card-trip card-trip-horizontal m-3">
      <% if booking.activity.photo? then %>
        <div class="banner_img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.activity.photo, height: 400, crop: :fit %>')"> 
      <% else %>
        <div class="banner_img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'trip_square', height: 400, crop: :fit %>')">
      <% end %>
      </div>
      <!-- imagem fim -->
      
      <div class="card-trip-infos p-2">
        <div class="card-top-details mb-2">
          <div id="aligned-name-info">
            <div>
                <h2 class="pr-2"><%= booking.activity.title %>
                    <%= link_to activity_path(booking.activity) do %>
                    <i class="fas fa-info-circle"></i>
                    <% end %>
                </h2>
                <h4><%= booking.activity.description %></h4>
            </div>
          </div>
        </div>
      </div>
              
      <div class="card-bottom-details">
        <div>
          <h5><%= booking.activity.address %></h5>
          <p>Data: <%= booking.activity.event_date.strftime("%d/%m/%Y") %> </p>
        </div>
      </div>
    </div>

  <% end %>
</div>
