<% myfuture_bookings = [] %>
<% @bookings.each do |booking| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>

  <% if today < booking.schedule_date then %>
      <% myfuture_bookings << booking %>
  <% end %>
<% end %>

<% mypast_bookings = [] %>
<% @bookings.each do |booking| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>

  <% if today > booking.schedule_date then %>
      <% mypast_bookings << booking %>
  <% end %>
<% end %>

<div class="container-agenda-menu py-2 mt-0">
  <div class="container mb-3"><h4 class="text-center font-weight-bold">ATIVIDADES QUE AGENDEI</h4></div>

  <div class="tab d-flex justify-content-start align-items-center text-center">
    <button class="tablinks agenda-booked-or-published btn btn-white-with-border border border-dark shadow text-center p-2 mx-1 active" onclick="openActivity(event, 'myFutureBookings')">FUTURAS (<%=myfuture_bookings.count %>)</button>
    <button class="tablinks agenda-booked-or-published btn btn-white-with-border border border-dark shadow text-center p-2 mx-1" onclick="openActivity(event, 'myPastBookings')">PASSADAS (<%=mypast_bookings.count %>)</button>
    <body onload="activateTab()">
  </div>
</div>

<div class="mt-0 container-agenda">
  <div id="myFutureBookings" class="tabcontent">
        <% if @current_user.bookings.empty? then %>
        <div class="container text-center shadow mt-5 py-5 px-1 bg-white rounded">
             <h2 class="dark-gray mb-2"> Você ainda não agendou eventos ou desafios! <h2>
            <%= link_to "PARTICIPAR DE UMA ATIVIDADE", root_path, class: "ml-2 btn btn-primary shadow font-weight-bold" %>
        </div>
      <% else %>
        <div class="mt-4"><%= render 'mybookings' %></div>
      <% end %>
  </div>

  <div id="myPastBookings" class="tabcontent">
      <% if @current_user.bookings.empty? then %>
        <div class="container text-center shadow mt-5 py-5 px-1 bg-white rounded">
             <h2 class="dark-gray mb-2"> Você ainda não agendou eventos ou desafios! <h2>
            <%= link_to "PARTICIPAR DE UMA ATIVIDADE", root_path, class: "ml-2 btn btn-primary shadow font-weight-bold" %>
        </div>
      <% else %>
        <div class="mt-4"><%= render 'mypastbookings' %></div>
      <% end %>
  </div>
</div>

<script>

function activateTab() {
  tabcontent = document.getElementsByClassName("tabcontent");
  tabcontent[0].style.display = "block";
}

function openActivity(evt, activityType) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(activityType).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


