<% myfuture_bookings = [] %>
<% @bookings.each do |booking| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>

  <% if today < booking.schedule_date then %>
      <% myfuture_bookings << booking %>
  <% end %>
<% end %>

<% mypast_bookings = [] %>
<% @bookings.each do |booking| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>

  <% if today > booking.schedule_date then %>
      <% mypast_bookings << booking %>
  <% end %>
<% end %>

<% myfuture_activities = [] %>
<% @activities.each do |activity| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>
  <% if activity.event_date && today < activity.event_date %>
      <% myfuture_activities << activity %>
  <% end %>
<% end %>

<% mypast_activities = [] %>
<% @activities.each do |activity| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>
  <% if activity.event_date && today > activity.event_date %>
      <% mypast_activities << activity %>
  <% end %>
<% end %>

<div id="#container-agenda" class="mt-5">
  <div class="container my-2"><h4 class="text-center font-weight-bold">MINHAS ATIVIDADES</h4></div>
  <div class="d-flex justify-content-center align-items-start text-center">
    <h5 class="agenda-booked-or-published flex-fill p-2 mx-1">AGENDADAS:</h5>
    <h5 class="agenda-booked-or-published flex-fill p-2 mx-1">PUBLICADAS:</h5>
  </div>

  <div class="tab d-flex justify-content-center align-items-start text-center">
    <button class="tablinks btn-agenda-menu bg-success p-1 ml-1 flex-fill border rounded shadow active" onclick="openActivity(event, 'myFutureBookings')">FUTURAS (<%=myfuture_bookings.count %>)</button>
    <button class="tablinks btn-agenda-menu bg-success p-1 mr-1 flex-fill border rounded shadow" onclick="openActivity(event, 'myPastBookings')">PASSADAS (<%=mypast_bookings.count %>)</button>
    <button class="tablinks btn-agenda-menu bg-success p-1 ml-1 flex-fill border rounded shadow" onclick="openActivity(event, 'myFutureActivities')">FUTURAS (<%=myfuture_activities.count %>)</button>
    <button class="tablinks btn-agenda-menu bg-success p-1 mr-1 flex-fill border rounded shadow" onclick="openActivity(event, 'myPastActivities')">PASSADAS (<%=mypast_activities.count %>)</button>
    <body onload="activateTab()">
  </div>

  <div id="myFutureBookings" class="tabcontent">
        <% if @current_user.bookings.empty? then %>
        <div class="container text-center shadow mt-5 py-5 px-1 bg-white rounded">
             <h2 class="dark-gray mb-2"> Você ainda não agendou eventos ou desafios! <h2>
            <%= link_to "PARTICIPAR DE UMA ATIVIDADE", root_path, class: "ml-2 btn btn-primary shadow font-weight-bold" %>
        </div>
      <% else %>
        <div class="mt-4"><%= render 'mybookings' %></div>
      <% end %>

  </div>

  <div id="myPastBookings" class="tabcontent">
      <% if @current_user.bookings.empty? then %>
        <div class="container text-center shadow mt-5 py-5 px-1 bg-white rounded">
             <h2 class="dark-gray mb-2"> Você ainda não agendou eventos ou desafios! <h2>
            <%= link_to "PARTICIPAR DE UMA ATIVIDADE", root_path, class: "ml-2 btn btn-primary shadow font-weight-bold" %>
        </div>
      <% else %>
        <div class="mt-4"><%= render 'mypastbookings' %></div>
      <% end %>
  </div>

  <div id="myFutureActivities" class="tabcontent">
  <% if @current_user.activities.empty? then %>
        <div class="container text-center shadow mt-5 py-5 px-1 bg-light rounded">
          <h2 class="dark-gray mb-2">Você ainda não publicou eventos ou desafios! </h2>
          <%= link_to "CRIAR EVENTO", new_event_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
          <%= link_to "CRIAR DESAFIO", new_challenge_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
        </div>
      <% else %>
        <div class="mt-4"><%= render 'myactivities' %></div>
      <% end %>
  </div>

  <div id="myPastActivities" class="tabcontent">
    <% if @current_user.activities.empty? then %>
          <div class="container text-center shadow mt-5 py-5 px-1 bg-light rounded">
            <h2 class="dark-gray mb-2">Você ainda não publicou eventos ou desafios! </h2>
            <%= link_to "CRIAR EVENTO", new_event_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
            <%= link_to "CRIAR DESAFIO", new_challenge_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
          </div>
        <% else %>
          <div class="mt-4"><%= render 'mypastactivities' %></div>
        <% end %>
  </div>
</div>

<script>

function activateTab() {
  tabcontent = document.getElementsByClassName("tabcontent");
  tabcontent[0].style.display = "block";
}

function openActivity(evt, activityType) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(activityType).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
