<% if @current_user.bookings.empty? then %>
  <div class="text-center shadow mt-5 p-5 bg-light rounded">
       <h2 class="dark-gray"> Você ainda não tem eventos ou desafios reservados! <h2>
      <%= link_to "Participe de um evento", root_path, class: "ml-2 btn-banner-orange" %>
  </div>
<% else %>
  <%= render 'mybookings' %>
  <%= render 'mypastbookings' %>
<% end %>

<% if @current_user.activities.empty? then %>
  <div class="text-center shadow mt-5 p-5 bg-light rounded">
    <h2>Você ainda não criou Eventos ou Desafios! </h2>
    <%= link_to "Crie um Evento ou Desafio", new_activity_path, class: "ml-2 btn-banner-green" %>
  </div>
<% else %>
  <%= render 'myactivities' %>
  <%= render 'mypastactivities' %>
<% end %>

