<% myfuture_activities = [] %>
<% mychallenges = [] %>

<% @activities.each do |activity| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>
  <% if activity.event_date == nil %>
      <% mychallenges << activity %>
  <% elsif activity.event_date && today < activity.event_date %>
      <% myfuture_activities << activity %>
  <% end %>
<% end %>

<% mypast_activities = [] %>
<% @activities.each do |activity| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>
  <% if activity.event_date && today > activity.event_date %>
      <% mypast_activities << activity %>
  <% end %>
<% end %>

<div class="container-agenda-menu py-2 mt-0">
  <div class="container mb-3"><h4 class="text-center font-weight-bold">ATIVIDADES QUE PUBLIQUEI</h4></div>


  <div class="tab d-flex justify-content-start align-items-center text-center">
    <button class="tablinks agenda-booked-or-published btn btn-white-with-border border border-dark shadow text-center p-2 mx-1 active" onclick="openActivity(event, 'myFutureActivities')">FUTURAS (<%=myfuture_activities.count + mychallenges.count%>)</button>
    <button class="tablinks agenda-booked-or-published btn btn-white-with-border border border-dark shadow text-center p-2 mx-1" onclick="openActivity(event, 'myPastActivities')">PASSADAS (<%=mypast_activities.count %>)</button>

    <body onload="activateTab()">
  </div>
</div>

<div class="mt-0 container-agenda">
  <div id="myFutureActivities" class="tabcontent">
  <% if @current_user.activities.empty? then %>
        <div class="container text-center shadow mt-5 py-5 px-1 bg-light rounded">
          <h2 class="dark-gray mb-2">Você ainda não publicou eventos ou desafios! </h2>
          <%= link_to "CRIAR EVENTO", new_event_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
          <%= link_to "CRIAR DESAFIO", new_challenge_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
        </div>
      <% else %>
        <div class="mt-4"><%= render 'myactivities' %></div>
      <% end %>
  </div>

  <div id="myPastActivities" class="tabcontent">
    <% if @current_user.activities.empty? then %>
          <div class="container text-center shadow mt-5 py-5 px-1 bg-light rounded">
            <h2 class="dark-gray mb-2">Você ainda não publicou eventos ou desafios! </h2>
            <%= link_to "CRIAR EVENTO", new_event_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
            <%= link_to "CRIAR DESAFIO", new_challenge_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
          </div>
        <% else %>
          <div class="mt-4"><%= render 'mypastactivities' %></div>
        <% end %>
  </div>
</div>

<script>
function activateTab() {
  tabcontent = document.getElementsByClassName("tabcontent");
  tabcontent[0].style.display = "block";
}

function openActivity(evt, activityType) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }

  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(activityType).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
