<% myfuture_bookings = [] %>
<% @bookings.each do |booking| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>

  <% if today < booking.schedule_date then %>
      <% myfuture_bookings << booking %>
  <% end %>
<% end %>

<% mypast_bookings = [] %>
<% @bookings.each do |booking| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>

  <% if today > booking.schedule_date then %>
      <% mypast_bookings << booking %>
  <% end %>
<% end %>

<% myfuture_activities = [] %>
<% @activities.each do |activity| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>
  <% if activity.event_date && today < activity.event_date %>
      <% myfuture_activities << activity %>
  <% end %>
<% end %>

<% mypast_activities = [] %>
<% @activities.each do |activity| %>
  <%# <% event_date = Activity.find(activity.id).event_date %>
  <% today = Time.now %>
  <% if activity.event_date && today > activity.event_date %>
      <% mypast_activities << activity %>
  <% end %>
<% end %>


<div class="tab">
  <button class="tablinks" onclick="openActivity(event, 'myFutureBookings')">Futuras</button>
  <button class="tablinks" onclick="openActivity(event, 'myPastBookings')">Passadas</button>
  <button class="tablinks" onclick="openActivity(event, 'myFutureActivities')">Futuras</button>
  <button class="tablinks" onclick="openActivity(event, 'myPastActivities')">Passadas</button>
</div>

<div id="myFutureBookings" class="tabcontent">
      <% if @current_user.bookings.empty? then %>
      <div class="container text-center shadow mt-5 p-5 bg-white rounded">
           <h2 class="dark-gray mb-2"> Você ainda não agendou eventos ou desafios! <h2>
          <%= link_to "PARTICIPAR DE UMA ATIVIDADE", root_path, class: "ml-2 btn btn-primary shadow font-weight-bold" %>
      </div>
    <% else %>
      <div class="shadow mt-4"><%= render 'mybookings' %></div>
    <% end %>

</div>

<div id="myPastBookings" class="tabcontent">
    <% if @current_user.bookings.empty? then %>
      <div class="container text-center shadow mt-5 p-5 bg-white rounded">
           <h2 class="dark-gray mb-2"> Você ainda não agendou eventos ou desafios! <h2>
          <%= link_to "PARTICIPAR DE UMA ATIVIDADE", root_path, class: "ml-2 btn btn-primary shadow font-weight-bold" %>
      </div>
    <% else %>
      <div class="shadow mt-4"><%= render 'mypastbookings' %></div>
    <% end %>  
</div>

<div id="myFutureActivities" class="tabcontent">
<% if @current_user.activities.empty? then %>
      <div class="container text-center shadow mt-5 p-5 bg-light rounded">
        <h2 class="dark-gray mb-2">Você ainda não publicou eventos ou desafios! </h2>
        <%= link_to "CRIAR EVENTO", new_event_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
        <%= link_to "CRIAR DESAFIO", new_challenge_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
      </div>
    <% else %>
      <div class="shadow mt-4"><%= render 'myactivities' %></div>
    <% end %>
</div>

<div id="myPastActivities" class="tabcontent">
  <% if @current_user.activities.empty? then %>
        <div class="container text-center shadow mt-5 p-5 bg-light rounded">
          <h2 class="dark-gray mb-2">Você ainda não publicou eventos ou desafios! </h2>
          <%= link_to "CRIAR EVENTO", new_event_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
          <%= link_to "CRIAR DESAFIO", new_challenge_path, class: "ml-2 btn btn-info shadow font-weight-bold" %>
        </div>
      <% else %>
        <div class="shadow mt-4"><%= render 'mypastactivities' %></div>
      <% end %>
</div>
</div>

<script>
function openActivity(evt, activityType) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(activityType).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


<%# <div id="#bg-agenda-white" class="mt-5">
  <div class="d-flex justify-content-center align-items-start text-center bg-white">
    <h5 class="agenda-booked-or-published flex-fill p-2 font-weight-bold shadow">ATIVIDADES AGENDADAS</h5>
    <h5 class="agenda-booked-or-published flex-fill p-2 font-weight-bold shadow">ATIVIDADES PUBLICADAS</h5>
  </div>
  <div class="d-flex justify-content-center align-items-start text-center bg-white">
    <h5 class="btn-agenda-menu p-2 flex-fill border-bottom rounded-bottom shadow">FUTURAS (<%=myfuture_bookings.count %>)</h5>
    <%# <h5 class="btn-agenda-menu p-2 flex-fill border-bottom rounded-bottom shadow">PASSADAS (<%=mypast_bookings.count %>)</h5> %>
    <%# <h5 class="btn-agenda-menu p-2 flex-fill border-bottom rounded-bottom shadow">FUTURAS (<%=myfuture_activities.count %>)</h5> %>
    <%# <h5 class="btn-agenda-menu p-2 flex-fill border-bottom rounded-bottom shadow">PASSADAS (<%=mypast_activities.count %>)</h5> %>
  <%# </div> %>
 <%# % > %>
