<%= simple_form_for @activity do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.hidden_field :event, value: '1'%>
  
  <p>*campos obrigatórios:</p><br>

  <div class="form-inputs">
    <%= f.input :title, label: "Nome da atividade:" %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, label: "Descrição:" %>
  </div>

  <div class="form-inputs">
    <%= f.input :group, label: "Atividade é em grupo?" %>
  </div>

  <% if @activity.event_date.present? %>
    <%= f.input :event_date, :as => :string, required: true, 
          :input_html => {
            :id => 'calendario',
            :class => ' date_picker form-control date-mask',
            value: @activity.event_date.strftime("%d/%m/%Y")
          },
          label: 'Data da Atividade:' %>
  <% else %>
    <%= f.input :event_date, :as => :string, required: true, 
          :input_html => {
            :id => 'calendario',
            :class => ' date_picker form-control date-mask'
          },
          label: 'Data da Atividade:' %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :capacity, required: true, input_html: { min: '1', step: 'any'}, label: "Capacidade da Atividade:" %>
  </div>

  <!-- encaminhar para a criação ou usar um address antigo -->
  <div class="form-inputs">
    <%= f.input :address_id, required: true, collection: current_user.addresses.order(:street), label_method: :street, input_html: { class: 'select2'} %>
<%# , include_hidden: false %>
  </div>
  <%= link_to "Criar novo endereço", new_address_path %>
  <br><br>
  <div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

<!--   colocar em java opção de address também
  colocar photo -->

<br>
  <div class="form-actions btn btn-success mb-2 p-0">
    <%= f.button :submit %>
  </div>
<% end %>
<script type="text/javascript">
  $(function() {
    $( "#calendario" ).datepicker({
      dateFormat: 'dd/mm/yy',
      dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
      dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
      dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
      monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
      monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
    });
  });
</script>
