
<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.input :title, label: "Nome da atividade:" %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, label: "Descrição:" %>
  </div>

  <div class="form-inputs">
    <%= f.input :group, label: "Atividade é em grupo?" %>
  </div>

  <!-- encaminhar para a criação ou usar um address antigo -->
  <div class="form-inputs">
    <%= f.input :address, collection: current_user.addresses.order(:street), label_method: :street, input_html: { class: 'select2'}, include_hidden: false %>
  </div>

  <div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

<!-- precisa colocar essa parte em java para aparecer quando o campo event for selecionado -->

<!--   colocar em java opção de address também
  colocar photo -->

<br>
  <div class="form-actions btn btn-success mb-2 p-0">
    <%= f.button :submit %>
  </div>
<% end %>
