
<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, label: "Nome da atividade:" %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, label: "Descrição:" %>
  </div>

  <!-- encaminhar para a criação ou usar um address antigo -->
  <%= link_to "novo endereço", new_address_path %>
  <div class="form-inputs">
    <%= f.input :address, collection: current_user.addresses.order(:street), label_method: :street, input_html: { class: 'select2'}, include_hidden: false %>
  </div>

  <div class="form-inputs">
    <%= f.input :event, label: "É um evento?" %>
  </div>

  <div class="form-inputs">
    <%= f.input :group, label: "Atividade é em grupo?" %>
  </div>

  <div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

<!-- precisa colocar essa parte em java para aparecer quando o campo event for selecionado
  <div class="form-inputs">
    <%= f.input :capacity, input_html: { min: '1', step: 'any'}, label: "Capacidade da Atividade:" %>
  </div>
  colocar em java opção de address também
  colocar photo
 -->
 <% if @activity.event_date.present? %>
  <%= f.input :event_date, :as => :string,
        :input_html => {
          :id => 'calendario',
          :class => ' date_picker form-control date-mask',
          value: @activity.event_date.strftime("%d/%m/%Y")
        },
        label: 'Data da Atividade:' %>
<% else %>
  <%= f.input :event_date, :as => :string,
        :input_html => {
          :id => 'calendario',
          :class => ' date_picker form-control date-mask'
        },
        label: 'Data da Atividade:' %>
<% end %>
<br>
  <div class="form-actions btn btn-success mb-2 p-0">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $( "#calendario" ).datepicker({
      dateFormat: 'dd/mm/yy',
      dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
      dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
      dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
      monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
      monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
    });
  });
</script>
