<div class="search-container d-flex justify-content-between align-items-center fixed-top bg-light">
  <h5 class="btn btn-dark shadow m-2 font-weight-bold">FILTROS</h5>
  <%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control m-2",
      placeholder: "Busque uma atividade"
    %>
  <% end %>

</div>
<div class="cards-container home-cards-container mx-1">
  <% @activities.each do |activity| %>
<!--Se a atividade não tiver data específica ou se tiver data só aparecerá se for data futura: -->
    <% if activity.event_date == nil || (activity.event_date != nil && activity.event_date > Time.now) %>
      <div class="card-activity bg-white mb-5">
        <%= link_to activity_path(activity) do %>
          <% if activity.photo? then %>
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path activity.photo, height: 400, crop: :fit %>')">
          <% else %>
            <div class="banner-img-vertical-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'smyle', height: 400, crop: :fit %>')">
          <% end %>
            </div>
        <% end %>

        <div class="card-activity-infos shadow">
          <div class="card-event-date text-center mr-2 mt-1">
            <% if activity.event_date %>
              <h1><%= activity.event_date.strftime("%d")%></h1>
              <h4><%= activity.event_date.strftime("%b")%></h4>
            <% else %>
              <h1><%= link_to activity_path(activity) do %>
                <i class="far fa-calendar-alt title-link text-decoration-none"></i>
              <% end %></h1>
            <% end %>
          </div>
          <div class="card-title-and-buttons">
            <h4><%= link_to "+ INFO", activity_path(activity), class: "btn btn-info card-btn-position-img-bottom shadow font-weight-bold" %></h4>
            <h4 class="mt-1 ml-2 text-left"><%= link_to activity.title, activity_path(activity),class: "title-link text-decoration-none"%></h4>

            <% district = activity.address.district.nil? ? district = " " : activity.address.district %>
            <% city = activity.address.city.nil? ? city = " " : activity.address.city %>
            <% state = activity.address.state.nil? ? state = " " : activity.address.state %>

            <p class="mt-1 ml-2 text-left"><%= "#{district} #{city} #{state} "%></p>
            <% if current_user != nil && @user_bookings != nil && @user_bookings.select { |booking| booking.activity_id == activity.id } != [] %>
              <h4><%= link_to "AGENDADO", activity_path(activity), class: "btn btn-success card-activity-booking-btn shadow font-weight-bold" %></h4>
            <% else %>
              <h4><%= link_to "AGENDAR", activity_path(activity), class: "btn btn-primary card-activity-booking-btn shadow font-weight-bold" %></h4>
            <% end %>
          </div>
        </div>
      <div class="card-footer-bg-light-gray w-2"><br></div>
    </div>
  <% end %>
<% end %>
</div>
