<h1>Activities Show</h1>

Nome: <%= @activity.title %><br>
Descrição: <%= @activity.description %><br>
<br>
<!--#verificar a rota Agendar-->
<%= button_to "Agendar", activity_bookings_path(@activity), method: :get %> 
<br>
<%= button_to "Editar", edit_activity_path(@activity), method: :get %>
<br>
<%= button_to "Cancelar", cancel_activity_path(@activity), method: :patch, data: { confirm: "Quer realmente cancelar este evento?" } %>
