<div class="card-activity-show">

  <div class="mx-1 bg-white mb-2 shadow">
    <div class="card-activity">
      <% if @activity.photo? then %>
        <div class="banner banner_img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @activity.photo, quality: "auto:good", gravity: :auto, crop: :thumb %>')">
      <% else %>
        <div class="banner banner_noimage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'smyle', quality: "auto:good", gravity: :auto, crop: :thumb %>')">
<%# quality: "auto:good", height: 800, crop: :thumb, dpr: 4.0 %>
      <% end %>
        </div>
      <% booking = [] %>
      <% booking = current_user.bookings.select { |booking| booking.activity_id == @activity.id } unless current_user.nil?%>

      <div class="card-activity-infos-show p-2">

        <div class="card-title-and-buttons mr-2">

          <% street = @activity.address.street.nil? ? street = " " : @activity.address.street %>
          <% number = @activity.address.number.nil? ? number = " " : @activity.address.number %>
          <% district = @activity.address.district.nil? ? district = " " : @activity.address.district %>
          <% city = @activity.address.city.nil? ? city = " " : @activity.address.city %>
          <% state = @activity.address.state.nil? ? state = " " : @activity.address.state %>
          <% zipcode = @activity.address.zipcode.nil? ? zipcode = " " : @activity.address.zipcode %>


          <div class="text-left mt-3">
            <h4 class="mt-1 font-weight-bold"><%=@activity.title%></h4>
            <div class="mt-1">

              <% if current_user == nil || booking == []%>
                <% if @activity.event %>
                  <%= button_to "AGENDAR", activity_bookings_path(@activity), method: :post, class: "btn btn-primary shadow text-center font-weight-bold btn-width" %>
                <% else %>
                  <%= button_to "AGENDAR", new_activity_booking_path(@activity), method: :get, class: "btn btn-primary shadow text-center font-weight-bold btn-width" %>
                <% end %>

              <% elsif @activity.event && booking != []%>
                <% if booking.first.done == true %>
                  <div class="text-center bg-success border border-success rounded p-2 shadow btn-width">
                    <h5 class="mr-2 font-weight-bold">JÁ PARTICIPEI</h5>
                  </div>
                <% else %>
                  <div class="d-flex align-items-center">
                    <h5 class="text-center bg-info border border-info rounded p-2 shadow font-weight-bold btn-width">AGENDADO</h5>
                    <button type="button" class="btn btn-success shadow text-center border border-success mx-2" data-toggle="modal" data-target="#booking-review-Modal">EU FIZ</button>
                  </div>
                <% end %>
<!--   destroy -->
              <% elsif booking != [] && booking.first.done == true %>
                <div class="text-center bg-success border border-success rounded p-2 shadow btn-width">
                  <h5 class="mr-2 font-weight-bold">JÁ PARTICIPEI</h5>
                </div>
              <% else %>
                <div class="d-flex align-items-center">
                  <div class="text-center bg-info border border-info rounded p-2 shadow btn-width">
                    <h5 class="mr-2 font-weight-bold">AGENDADO</h5>
                  </div>
                      <button type="button" class="btn btn-success shadow text-center border border-success mx-2" data-toggle="modal" data-target="#booking-review-Modal">EU FIZ</button>
                </div>
              <% end %>
            </div>

            <h5 class="mt-1"><%= "#{street} #{number}"%></h5>
            <h5><%= "#{district} #{city} #{state} #{zipcode}"%></h5>
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mt-1">
  <!-- class: "btn btn-warning text-white shadow font-weight-bold mr-2" -->
                <% unless (current_user == nil) || (booking == []) %>
  <!--            INCLUIR BOTÃO "ATIVIDADE REALIZADA" abrindo Modal que dê a possibilidade de incluir foto -->
  <!-- class: "btn btn-success text-white shadow font-weight-bold" -->
                  <% unless booking.first.done %>


                    <div class="modal fade" id="booking-review-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Avalie a atividade "<%= @activity.title %>":</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h4>Adicione sua avaliação com uma foto e um comentário sobre como foi realizar essa atividade para incentivar outros usuários!</h4>
                            <div class="d-flex justify-content-center mt-2">
                              <%= button_to "AVALIAR", add_review_path(booking.first), method: :get, class: "btn btn-success shadow text-center mr-2" %>
                              <%= button_to "MAIS TARDE", mark_as_done_path(booking.first), method: :patch, class: "btn btn-body-color shadow mr-2" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  <% end %>
                <% end %>
              </div>
              <div class="d-flex align-items-center mt-1">
                <% if (booking != []) && (booking.first.done == false) %>
                  <% if (@activity.event == false) %>
                    <%= button_to "REAGENDAR", edit_booking_path(booking.first), method: :get, class: "btn btn-body-color shadow text-center border border-dark mr-2" %>
                  <% end %>
  <!--            INCLUIR BOTÃO "CANCELAR PARTICIPAÇÃO" -->
  <!-- class: "btn btn-body-color shadow text-center border border-dark mr-2" -->
                  <%= button_to "DESMARCAR", booking_path(booking.first), method: :delete, class: "btn btn-body-color shadow text-center border border-dark mr-2" %>
                <% end %>
              </div>
              <br>
            </div>
          </div>
        </div>

        <div class="card-event-date text-center mr-2 mt-3">
          <%# Share butons by ShareThis.com %>
          <div class="sharethis-inline-share-buttons show-btn-position-img-bottom text-right"></div>

          <% if @activity.event_date %>
            <h1><%= @activity.event_date.strftime("%d")%></h1>
            <h4><%= @activity.event_date.strftime("%b")%></h4>
            <h5><%= @activity.event_date.strftime("%Y")%></h5>
          <% elsif booking != [] && booking.first.schedule_date %>
            <h1><%= booking.first.schedule_date.strftime("%d")%></h1>
            <h4><%= booking.first.schedule_date.strftime("%b")%></h4>
            <h5><%= booking.first.schedule_date.strftime("%Y")%></h5>
          <% else %>
            <h1><%= link_to new_activity_booking_path(@activity) do %>
               <i class="far fa-calendar-alt title-link text-decoration-none"></i>
            <% end %></h1>
          <% end %>

        </div>
    </div>
    <div class="p-2 mb-1">
      <% if @activity.event? %>
        <h5>Participantes confirmados: <%= @activity.bookings.count%></h5>
        <h5>Vagas disponíveis: <%= @activity.capacity - @activity.bookings.count%></h5>
      <% end %>
      <h4 class="mt-1">Descrição:</h4><br>
      <h5><%= @activity.description.gsub(/\n/, '<br/>').html_safe %></h5>
    </div>
  </div>
</div>

  <% if current_user == @activity.owner%>
    <div class="container bg-white border border-white border-radius shadow activity-admin-card p-1 text-center">
      <% if @activity.event %>
        <h5>Acesso do administrador do evento publicado:</h5>
        <div class="d-flex mr-2 my-2 justify-content-center">
          <%= button_to "EDITAR", edit_event_path(@activity), method: :get, class: "btn btn-body-color shadow text-center border border-dark mr-2" %>
          <%= button_to "CANCELAR", cancel_activity_path(@activity), method: :patch, data: { confirm: "Quer realmente cancelar este evento?" }, class: "btn btn-body-color shadow text-center border border-dark" %>
        </div>
        <div>
          <h5>Este evento já foi agendado por: </h5>
          <% @activity.bookings.each do |booking| %>
            <p>- <%=booking.user.first_name%> <%=booking.user.last_name%> | E-mail: <b><%=booking.user.email %></b></p>
          <% end %>
        </div>
      <% else %>
        <h5>Acesso do administrador do desafio publicado:</h5>
        <div class="d-flex mr-2 my-2 justify-content-center">
        <%= button_to "EDITAR", edit_challenge_path(@activity), method: :get, class: "btn btn-body-color shadow text-center border border-dark mr-2" %>
        <%= button_to "CANCELAR", cancel_activity_path(@activity), method: :patch, data: { confirm: "Quer realmente cancelar este evento?" }, class: "btn btn-body-color shadow text-center border border-dark" %>
        </div>
        <div>
          <h5>Este desafio já foi agendado por: <%= @activity.bookings.count%> usuários</h5>
          <% @activity.bookings.each do |booking| %>
            <p>- <%=booking.user.first_name%> <%=booking.user.last_name%> | E-mail: <b><%=booking.user.email %></b></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>


  <% if @activity.event? %>
    <div
      id="map"
      style="width: 100%;
      height: 400px;"
      data-markers="<%= @markers_activity.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    </div>
  <% end %>

<% unless @activity.bookings == [] %>
  <h4 class="m-2">Experiências de outros usuários:</h4>
  <div class="row justify-content-center align-items-center show-cards-container m-1">

    <% limit_3_reviews = @activity.bookings.sample(3) %>

    <% limit_3_reviews.each do |booking| %>
      <% if booking.review_rate != nil && booking.review_comment != nil %>
        <div class="col-md-6 col-lg-4 m-1 p-0 card-activity bg-white shadow">
          <div class="card-activity-infos">
            <div class="card-title-and-buttons">
              <h5 class="mr-2 text-left font-weight-bold"><%= booking.user.first_name %></h5>
              <h5 class="mt-1 mr-2 text-left font-italic"><%= booking.review_comment %></h5>
              <!-- Incluir botão para curtir -->
            </div>
            <div class="card-event-date text-center">
              <h4>Nota:</h4>
              <h1><%=booking.review_rate%></h1>
            </div>
          </div>
          <% if booking.review_photo? then %>
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.review_photo, height: 400, crop: :fit %>')">
          <% else %>
            <div class="banner-img-vertical-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'smyle', height: 400, crop: :fit %>')">
          <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
