<h1>Activities Show</h1>

<%= render 'photo_image'%>

<%= @activity.title %><br>
<br>
Descrição: <%= @activity.description %><br>
<br>
<!--#verificar a rota Agendar-->
<% if current_user == nil %>
  <%= button_to "AGENDAR", activity_bookings_path(@activity), method: :post, class: "btn btn-primary card-activity-booking-btn shadow" %>
<% else %>
  <% if current_user.bookings.select { |booking| booking.activity_id == @activity.id } %>
    <h5>AGENDADO</h5>
    <% else %>
      <%= button_to "AGENDAR", activity_bookings_path(@activity), method: :post, class: "btn btn-primary card-activity-booking-btn shadow" %>
    <% end %>
<% end %>
<br>
<%= button_to "EDITAR", edit_activity_path(@activity), method: :get %>
<br>
<%= button_to "CANCELAR", cancel_activity_path(@activity), method: :patch, data: { confirm: "Quer realmente cancelar este evento?" } %>
